In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor

In [14]:
df=pd.read_csv('final_cars.csv')
Y=df.price
X=df.drop('price',axis=1)

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
hyperparameters={'max_depth':[2,4,6,8],'min_samples_leaf':[5,4,8,10,15]}

In [17]:
gridseach=GridSearchCV(DecisionTreeRegressor(),hyperparameters,cv=5)

In [22]:
X=pd.get_dummies(X)
X
X_train , X_test , Y_train, Y_test=train_test_split(X,Y,test_size=0.2,random_state=1)

In [23]:
gridseach.fit(X_train,Y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse',
                                             max_depth=None, max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort='deprecated',
                                             random_state=None,
                                             splitter='best'),
             iid='deprecated', n_jobs=None,
             param_grid={'max_depth': [2, 4, 6, 8],
                         'min_samples_leaf': [5, 4, 8, 10, 15]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [24]:
gridseach.best_params_

{'max_depth': 6, 'min_samples_leaf': 10}

In [26]:
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import r2_score

In [28]:
from sklearn.preprocessing import  scale

In [29]:
X

,engine-size,horsepower,city-mpg,fuel-type_diesel,fuel-type_gas,num-of-doors_?,num-of-doors_four,num-of-doors_two,body-style_convertible,body-style_hardtop,body-style_hatchback,body-style_sedan,body-style_wagon,drive-wheels_4wd,drive-wheels_fwd,drive-wheels_rwd
0,130,111.0,21,0,1,0,0,1,1,0,0,0,0,0,0,1
1,130,111.0,21,0,1,0,0,1,1,0,0,0,0,0,0,1
2,152,154.0,19,0,1,0,0,1,0,0,1,0,0,0,0,1
3,109,102.0,24,0,1,0,1,0,0,0,0,1,0,0,1,0
4,136,115.0,18,0,1,0,1,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,141,114.0,23,0,1,0,1,0,0,0,0,1,0,0,0,1
197,141,160.0,19,0,1,0,1,0,0,0,0,1,0,0,0,1
198,173,134.0,18,0,1,0,1,0,0,0,0,1,0,0,0,1
199,145,106.0,26,1,0,0,1,0,0,0,0,1,0,0,0,1
200,141,114.0,19,0,1,0,1,0,0,0,0,1,0,0,0,1

In [30]:
X

,engine-size,horsepower,city-mpg,fuel-type_diesel,fuel-type_gas,num-of-doors_?,num-of-doors_four,num-of-doors_two,body-style_convertible,body-style_hardtop,body-style_hatchback,body-style_sedan,body-style_wagon,drive-wheels_4wd,drive-wheels_fwd,drive-wheels_rwd
0,130,111.0,21,0,1,0,0,1,1,0,0,0,0,0,0,1
1,130,111.0,21,0,1,0,0,1,1,0,0,0,0,0,0,1
2,152,154.0,19,0,1,0,0,1,0,0,1,0,0,0,0,1
3,109,102.0,24,0,1,0,1,0,0,0,0,1,0,0,1,0
4,136,115.0,18,0,1,0,1,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,141,114.0,23,0,1,0,1,0,0,0,0,1,0,0,0,1
197,141,160.0,19,0,1,0,1,0,0,0,0,1,0,0,0,1
198,173,134.0,18,0,1,0,1,0,0,0,0,1,0,0,0,1
199,145,106.0,26,1,0,0,1,0,0,0,0,1,0,0,0,1
200,141,114.0,19,0,1,0,1,0,0,0,0,1,0,0,0,1

In [31]:
X['engine-size']=scale(X['engine-size'])
X['horsepower']=scale(X['horsepower'])
X['city-mpg']=scale(X['city-mpg'])

In [32]:
X

,engine-size,horsepower,city-mpg,fuel-type_diesel,fuel-type_gas,num-of-doors_?,num-of-doors_four,num-of-doors_two,body-style_convertible,body-style_hardtop,body-style_hatchback,body-style_sedan,body-style_wagon,drive-wheels_4wd,drive-wheels_fwd,drive-wheels_rwd
0,0.075389,0.206174,-0.652249,0,1,0,0,1,1,0,0,0,0,0,0,1
1,0.075389,0.206174,-0.652249,0,1,0,0,1,1,0,0,0,0,0,0,1
2,0.606234,1.359551,-0.964397,0,1,0,0,1,0,0,1,0,0,0,0,1
3,-0.431327,-0.035230,-0.184027,0,1,0,1,0,0,0,0,1,0,0,1,0
4,0.220165,0.313465,-1.120471,0,1,0,1,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,0.340812,0.286643,-0.340101,0,1,0,1,0,0,0,0,1,0,0,0,1
197,0.340812,1.520487,-0.964397,0,1,0,1,0,0,0,0,1,0,0,0,1
198,1.112950,0.823097,-1.120471,0,1,0,1,0,0,0,0,1,0,0,0,1
199,0.437329,0.072061,0.128120,1,0,0,1,0,0,0,0,1,0,0,0,1
200,0.340812,0.286643,-0.964397,0,1,0,1,0,0,0,0,1,0,0,0,1

In [33]:
X_train , X_test , Y_train, Y_test=train_test_split(X,Y,test_size=0.2,random_state=1)

In [34]:
model=SGDRegressor(random_state=100)

In [35]:
model.fit(X_train,Y_train)

SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='invscaling', loss='squared_loss', max_iter=1000,
             n_iter_no_change=5, penalty='l2', power_t=0.25, random_state=100,
             shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [36]:
model.score(X_train,Y_train)

0.8511440437006902

In [38]:
r2_score(Y_test,model.predict(X_test))

0.7047399953700083

In [39]:
# Regularization

In [40]:
from sklearn.linear_model import LassoCV

In [41]:
from sklearn.metrics import r2_score

In [43]:
lm=LassoCV(alphas=[0.10,0.5,1.0] , cv= 5 , normalize=True)
lm.fit(X_train,Y_train)

LassoCV(alphas=[0.1, 0.5, 1.0], copy_X=True, cv=5, eps=0.001,
        fit_intercept=True, max_iter=1000, n_alphas=100, n_jobs=None,
        normalize=True, positive=False, precompute='auto', random_state=None,
        selection='cyclic', tol=0.0001, verbose=False)

In [44]:
lm.coef_

array([ 4.03433285e+03,  1.45175184e+03, -1.16239771e+03,  1.96450272e+03,
       -3.73908832e-11, -4.71233964e+02,  2.64855154e+02, -0.00000000e+00,
        2.61172357e+03,  3.19883305e+03, -1.38206819e+03,  0.00000000e+00,
       -1.22237804e+03,  0.00000000e+00, -1.43271719e+02,  1.92838395e+03])

In [45]:
r2_score(Y_test,lm.predict(X_test))

0.6897268637489522